doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Workout
    link(href='/css/style.css', type='text/css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body
    script(type='text/javascript', src='/javascripts/global.js')
    script(type='text/javascript', src='/javascripts/userauth.js')
    ul#myTopnav.nav.flinks
      li
        a.hlinks(href='/' style='padding-top: 20px')  Home
      li
        a#Login.hlinks(href='/week1' style='padding-top: 20px')  Weeks 1-4
      li
        a#CreateAccount.hlinks(href='/createAcc' style='padding-top: 20px')  Create Account
      li
        a#Username.hlinks(href='/yourwrk' style='padding-top: 20px') #{username}
      li.icon
        a(href='javascript:void(0);', onclick='myFunction()') ☰
    div
      hr
      h1  Gymno-Phily
        hr
      .row
    .container
      .row
        .box
          #login.col-lg-12.text.center
            p LOGIN
            form
              | Username <span style="color: red">*</span>:
              input#username(type='text', name='username')
              br
              |           Password <span style="color: red">*</span>:
              input#password(type='password', name='password')
              br
              input#loginSubmit(type='button', value='Login')
