doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Workout
    link(href='/css/style.css', type='text/css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  body(onload="getUserData()")
    script(type='text/javascript', src='/javascripts/global.js')
    script(type='text/javascript', src='/javascripts/userauth.js')
    ul#myTopnav.nav.flinks
      li
        a.hlinks(href='/' style='padding-top: 20px')  Home
      li
        a#Login.hlinks(href='/login' style='padding-top: 20px')  Login
      li
        a#CreateAccount.hlinks(href='/createAcc' style='padding-top: 20px')  Create Account
      li
        a#Username.hlinks(href='/yourwrk' style='padding-top: 20px') #{username}
      li.icon
        a(href='javascript:void(0);', onclick='myFunction()') ☰
    div
      hr
      h1  Gymno-Phily
        hr
    .container
      .row
        .box
          .col-lg-12.text.center
            hr
            h2 #{username}, Welcome to your own personalized workout!!
            hr
            p
              | Here you will find your own personalized workout that will load all the current weight you have been using for your exercises.
      .container
          .box
            table.day#results
              tbody
                tr
                  th.daynum(colspan='3') Day 1
                tr
                  th  Warm-up: Jog on treadmill
                  td  For half a mile. Goal is between 6 and 7 minutes. Then stretch for 5 minutes.
                  td
                    a(href='/stretch')  Suggested stretches can be found here
                tr
                  th Exercise 1: Dummbell Bench Press
                  td  Sets: 3  Reps: 12
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-bench-press', target='_blank')  Example
                tr
                  th Exercise 2: Dumbbell Lunges
                  td  Sets: 3  Reps: 15x per leg
                  td
                    a(href='https://www.youtube.com/watch?v=D7KaRcUTQeE', target='_blank')  Example
                tr
                  th Exercise 3: Wide Grip Lateral PullDowns
                  td  Sets: 3  Reps: 12
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/wide-grip-lat-pulldown', target='_blank')  Example
                tr
                  th Exercise 4: Bicep Curls with Dumbbells
                  td  Sets: 3  Reps: 12
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-alternate-bicep-curl', target='_blank')  Example
                tr
                  th Exercise 5: Crunches
                  td  Sets: 2  Reps: 15
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/crunches', target='_blank')  Example
                tr
                  th Exercise 6: Plank
                  td  Sets: 1 for 30-45 seconds
                  td
                    a(href='https://www.youtube.com/watch?v=pSHjTRCQxIw', target='_blank')  Example
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 2
                tr
                  th.daynum(colspan='3') REST DAY!
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 3
                tr
                  th  Warm-up: Jog on treadmill
                  td  For half a mile. Goal is between 6 and 7 minutes. Then stretch for 5 minutes.
                  td
                    a(href='stretch.html')  Suggested stretches can be found here
                tr
                  th Exercise 1: Body weight Squats
                  td Sets: 3 Reps: 15
                  td
                    a(href='https://www.youtube.com/watch?v=p3g4wAsu0R4', target='_blank') Example
                tr
                  th Exercise 2: Step ups
                  td Sets: 2 Reps: 10x per leg
                  td
                    a(href='https://www.youtube.com/watch?v=dQqApCGd5Ss', target='_blank') Example
                tr
                  th Exercise 3: Seated Shoulder Press
                  td Sets: 3 Reps: 8-10
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-shoulder-press', target='_blank') Example
                tr
                  th Exercise 4: One Arm Rows
                  td Sets: 2 Reps: 10
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/one-arm-dumbbell-row', target='_blank') Example
                tr
                  th Exercise 5: Tricep Rope Pulldown
                  td Sets: 3 Reps: 12
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/triceps-pushdown-rope-attachment', target='_blank') Example
                tr
                  th Exercise 6: Bicycle Crunches
                  td Sets: 1 Reps: 30 per side
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/air-bike', target='_blank') Example
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 4
                tr
                  th.daynum(colspan='3') REST DAY!
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 5
                tr
                  th  Warm-up: Jog on treadmill
                  td  For half a mile. Goal is between 6 and 7 minutes. Then stretch for 5 minutes.
                  td
                    a(href='stretch.html')  Suggested stretches can be found here
                tr
                  th Exercise 1:Back Extensions
                  td Sets: 3 Reps: 10
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/hyperextensions-back-extensions', target='_blank') Example
                tr
                  th Exercise 2: Dips
                  td Sets: 3 Reps: 10
                  td
                    a(href='https://www.youtube.com/watch?v=0326dy_-CzM', target='_blank')
                      | Example
                      a
                tr
                  th Exercise 3: Close Grip Lateral PullDowns
                  td Sets: 2 Reps: 10
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/close-grip-front-lat-pulldown', target='_blank') Example
                tr
                  th Exercise 4: Seated Cable Rows
                  td Sets: 3 Reps: 12
                  td
                    a(href='http://www.bodybuilding.com/exercises/detail/view/name/seated-cable-rows', target='_blank') Example
                tr
                  th Exercise 5: Plank
                  td Sets: 1 for 30-45 seconds
                  td
                    a(href='https://www.youtube.com/watch?v=pSHjTRCQxIw', target='_blank') Example
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 6
                tr
                  th.daynum(colspan='3') REST DAY!
          .box
            table.day
              tbody
                tr
                  th.daynum(colspan='3') Day 7
                tr
                  th.daynum(colspan='3') REST DAY!
