*{
  box-sizing: border-box;
}
h1{
  color: white;
  text-align: center;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h2 {
  text-align: center;
  font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.intro{
  text-transform: capitalize;
  margin: 0;
  font-size: 2em;
}
a {
  color: blue;
}

.daynum{
  font-size: 25px;
}

table.day {
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    width: auto;
    background: rgba(149,161,155,0.9);
}

table.day td, table.day th {
    border: 2px solid black;
    padding: 20px;
    height: 40px;
}

table.day th{
    width: 200px;
}

p{
  font-size: 18px;
  display: block;
}
@media (min-width: 1200px){
  body {
      width: auto;
  }
.container {
    width: 1170px;
}
}
@media (min-width: 992px){}
  body {
      width: auto;
  }
}
@media (min-width: 768px){
  body {
      width: auto;
  }
.container {
    width: 750px;
}
}
@media screen and (min-width: 768px){
  body {
      width: auto;
  }
.img-left {
  float: left;
  margin-right: 25px;
}
}

.img-left {
    margin: 0 auto 0;
    float: left;

}
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 70%;
     margin: auto;
 }

.img-border {
    margin: 0 auto 0;
    border: #999999 solid 1px;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.img {
    vertical-align: middle;
}
.img-full {
    min-width: 100%;
}

.container {
    width: auto/2;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    background: rgba(149,161,155,0.9);
    /*padding-top: 1%*/
}
div.row{

}
div{
  display: block;
}
.box {
    margin-bottom: 20px;
    width: auto;
    /*padding: 30px 15px;*/

}
.col-lg-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
hr{
  box-sizing: content-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
  max-width: 400px;
  border-color: black;
  }
div.box ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

#contatiner{
  width: 5%;
}

#left{
  width: 33%;
  float: left;
  /*background: grey;
  background: rgba(149,161,155,0.9);*/

}
#center{
  width: 33%;
  float: left;
  /*padding-bottom: 255px;
  background: grey;
  background: rgba(149,161,155,0.9);*/
}
#right{
  width: 33%;
  float: left;
  margin-top: 33px;
  /*padding-top: 33px;
  padding-bottom: 190px;
  background: grey;
  background: rgba(149,161,155,0.9);*/

}

#legstretch{
    margin-left: 20px;
    margin-top: 50px;
}
#legstretchim{
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  width: 85%;
}

#hamstringstretch{
  float: center;
  margin-top: 50px;
}
#hammy{
  width: 80%;
}
#quad{
  width: 35%;
}
#calf{
  margin-top: 400px;
}
#calfim{
  width: 70%;
  margin-top: -20px
}
#hip{
  margin-top: 35px;
}
#hipim{
  margin-top: 75px;
}
#glute{
  margin-top: 30px;
}
#gluteim{
  margin-top: 40px;
}
.links{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.flinks{
  /*float: left;*/
  /*border: 1px solid #555;*/
}
/*.hlinks{
  width: 142px;
  height: 64px;
  display: block;
  padding: 8px;
  background-color: rgba(149,161,155,0.9);
  text-align: center;
}*/
.nav{
  list-style-type: none;
  padding: 0;
  /*position: relative;*/
  margin: auto;
  margin-bottom: 20px;
}




/* Remove margins and padding from the list, and add a black background color */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(149,161,155,0.9);
}

/* Float the list items side by side */
ul.nav li {float: left;}

/* Style the links inside the list items */
ul.nav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.nav li.icon {display: none;}

/*#myTopnav{
  background-color: rgba(149,161,155,0.9);
}*/

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  body {
      width: auto;
  }
  ul.nav li:not(:first-child) {display: none;}
  ul.nav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  body {
      width: auto;
  }
  ul.nav.responsive {position: relative;}
  ul.nav.responsive li.icon {
    position: absolute;

    right: 0;
    top: 0;
  }
  ul.nav.responsive li {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:320px) {
body {
    width: auto;
}
/* some other style */
}












li a{
  display: block;
  padding: 8px;
  color: #000;
  background-color: rgba(149,161,155,0.9);
  text-decoration: none;
}
li a:hover {
    background-color: green;
    color: white;
}
footer{
  text-align: center;
}
